
<!DOCTYPE html>
<html>
    <head>
        <title>
            asdman87
        </title>
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <header style="opacity: 1;">
            <div id="mainimage">
                <div id="movethemain">
                    <div class="photo" id="rag-one" style="z-index: 1;">
                        <img alt="" src="/img/main.png"/>
                    </div>
                    <div class="photo" id="rag-two" style="z-index: 2;">
                        <img alt="" src="/img/main.png"/>
                    </div>
                    <div class="photo" id="rag-three" style="z-index: 3;">
                        <img alt="" src="/img/main.png"/>
                    </div>
                    <div class="photo" id="rag-four" style="z-index: 4;">
                        <img alt="" src="/img/main.png"/>
                    </div>
                    <div class="photo" id="rag-five" style="z-index: 5;">
                        <img alt="" src="/img/main.png"/>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>